action-button {
  .action-button-wrapper {
    align-items: center;
    display: flex;
    // flex-direction: column-reverse;
    justify-content: center;
  }
  .action-button {
    background: #79B7F5;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    height: 60px;
    width: 60px;
    z-index: 10;
  }
  .action-sub-button {
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    height: 55px;
    margin-bottom: 13px;
    position: absolute;
    width: 55px;
  }
  .post-action-button {
    z-index: 1;
  }
  .switch-action-button {
    z-index: 2;
  }
}
