timeline {
  height: 100%;
  width: 100%;
  timeline-head {
    z-index: 10;
  }
  .tweets {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .timeline {
    background: gray;
    height: 500px;
    width: 100%;
  }
  .t1 {
    background: rgba(0, 0, 0, 0.4);
  }
  .t1-2 {
    background: rgba(0, 0, 0, 0.9);
  }
  .t2 {
    background: rgba(0, 0, 0, 0.2);
  }
}

ion-slides {
  z-index: 1;
}

.swiper-container {
  height: 100%;
  position: absolute;
  top: 65px;
}
.swiper-wrapper {
  height: 100%;
}
.slide-zoom {
  height: 100%;
}
.swiper-slide {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
