<!-- Generated template for the TimelineComponent component -->
<div id="timeline-component" class="timeline-component">
  <div class="background-white"></div>
  <timeline-head></timeline-head>
  <ion-slides (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <tweet *ngFor="let tweet of tweets"></tweet>
      <!-- <div class="timeline t1">
        timeline1
      </div>
      <div class="timeline t1-2" style="color: white">
        timeline1-2
      </div> -->
    </ion-slide>
    <ion-slide>
      <tweet *ngFor="let tweet of tweets"></tweet>
      <!-- <div class="timeline t2">
        timeline2
      </div> -->
    </ion-slide>
  </ion-slides>
  <action-button (openModal)="openModal()"></action-button>

  <!-- <div class="tweets">
    <tweet *ngFor="let tweet of tweets"></tweet>
  </div> -->
</div>
